.partner-logos {
  width: auto;
  margin: 100px 200px 0px 400px;
  display: flex;
  flex-direction: row;
}

.busseys {
  width: 215px;
  height: 70px;
  background: url('../img/busseys.jpg') no-repeat;
  margin: 0px 20px 0px 20px;
}

.busseys:hover {
  background: url('../img/busseys-hover.png') no-repeat;
  .busseys-bubble {
    visibility: visible;
  }
}


.crane {
  width: 327px;
  height: 70px;
  background: url('../img/crane.jpg') no-repeat;
  margin: 0px 20px 0px 20px;
}

.crane:hover {
  background: url('../img/crane-hover.png') no-repeat;
  .crane-bubble {
    visibility: visible;
  }
}

.beat {
  width: 92px;
  height: 70px;
  background: url('../img/beat.jpg') no-repeat;
  margin: 0px 20px 0px 20px;
}

.beat:hover {
  background: url('../img/beat-hover.png') no-repeat;
  .beat-bubble {
    visibility: visible;
  }
}

.north {
  width: 452px;
  height: 70px;
  background: url('../img/north.jpg') no-repeat;
  margin: 0px 20px 0px 20px;
}

.north:hover {
  background: url('../img/north-hover.png') no-repeat;
  .north-bubble {
    visibility: visible;
  }
}


.busseys-bubble {
  display: flex;
  visibility: hidden;
	position: relative;
  top: -200%;
  right: 30px;
	background: #333645;
  width: 250px;
  padding: 10px;
  height: 130px;
  line-height: 1.375rem;
  font-family: $poppins;
  color: white;
  align-items: center;
}


.busseys-bubble:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 54, 69, 0);
	border-top-color: #333645;
	border-width: 30px;
	margin-left: -30px;
}


.busseys-text,
.north-text,
.beat-text,
.crane-text {
  margin: auto;
  max-width: 80%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.busseys-text-main,
.north-text-main,
.beat-text-main,
.crane-text-main {
  font-size: .8rem;
}

.busseys-text-head,
.north-text-head,
.beat-text-head,
.crane-text-head {
  font-size: 1.125rem;
  letter-spacing: .4px;
}

.empty-line-busseys,
.empty-line-beat,
.empty-line-north {
  width: 25px;
  margin: 10px 0px;
  height: 3px;
  background-color: #fff;
}

.empty-line-crane {
  width: 25px;
  height: 3px;
  margin: 5px 0px;
  background-color: #fff;
}

.crane-bubble {
  display: flex;
  visibility: hidden;
	position: relative;
  top: -300%;
  right: 30px;
	background: #333645;
  width: 300px;
  padding: 10px;
  height: 190px;
  line-height: 1.375rem;
  font-family: $poppins;
  color: white;
  align-items: center;
}

.crane-bubble:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 54, 69, 0);
	border-top-color: #333645;
	border-width: 30px;
	margin-left: -30px;
}

.beat-bubble {
  display: flex;
  visibility: hidden;
	position: relative;
  top: -250%;
  right: 85px;
	background: #333645;
  width: 250px;
  padding: 10px;
  height: 130px;
  line-height: 1.375rem;
  font-family: $poppins;
  color: white;
  align-items: center;
}

.beat-bubble:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 54, 69, 0);
	border-top-color: #333645;
	border-width: 30px;
	margin-left: -30px;
}

.north-bubble {
  display: flex;
  visibility: hidden;
	position: relative;
  top: -300%;
  right: -20px;
	background: #333645;
  width: 280px;
  padding: 10px;
  height: 190px;
  line-height: 1.375rem;
  font-family: $poppins;
  color: white;
  align-items: center;
}

.north-bubble:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 54, 69, 0);
	border-top-color: #333645;
	border-width: 30px;
	margin-left: -30px;
}
