.small-cards {
  margin-top: -50px;
  padding: 80px 380px 0px 380px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.small-card {
  display: flex;
  align-items: center;
}

.small-icon {
  margin: 20px 0px 20px 100px;
}


.line-small {
  margin: 10px 0px 10px 0px;
}

.small-card-text {
  text-align: center;
  font-size: 0.8rem;
}

.phone-icon,
.code-icon,
.shield-icon,
.graduation-icon {
  color: white;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #2ecc71;
  border-radius: 50%;
  line-height: 1.42857143;
}


.phone-icon {
  background-color: #d64541;
  border-color: #d64541;
}

.code-icon {
  background-color: #79539a;
  border-color: #79539a;
}

.shield-icon,
.card-btn-sec {
  background-color: #f62459;
  border-color: #f62459;
}

.graduation-icon {
  background-color: #79539a;
  border-color: #79539a;
}
.card-btn-tele {
  background-color: #d64541;
}

.card-btn-web,
.card-btn-dev {
  background-color: #79539a;
}


.card-btn-tele,
.card-btn-web,
.card-btn-sec,
.card-btn-dev {
  display: flex;
  align-items: center;
  height: 45px;
  width: 130px;
  border: none;
  margin-bottom: 10px;
  .btn-text-tele,
  .btn-text-web,
  .btn-text-sec,
  .btn-text-dev {
    margin: 22.5px 0px 22.5px 8px;
  }
}

.card-tele:hover {
  background-color: #d64541;
  color: white;
    .phone-icon {
      color: #d64541;
      background-color: white;
    }
    .card-btn-tele {
      background-color: white;
      color: #d64541;
    }
}

.card-web:hover,
.card-dev:hover {
  background-color: #79539a;
  color: white;
  .code-icon,
  .graduation-icon {
    color: #79539a;
    background-color: white;
  }
  .card-btn-web {
    background-color: white;
    color: #79539a;
  }
}

.card-dev:hover {
  .card-btn-dev {
    color: #79539a;
    background-color: white;
  }
}

.card-sec:hover {
  background-color: #f62459;
  color: white;
  .shield-icon {
    color: #f62459;
    background-color: white;
  }
  .card-btn-sec {
    background-color: white;
    color: #f62459;
  }
}
